{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @template   tool_tutor_follow/table
    @package    tool_tutor_follow
    @copyright  2025 Jhon Rangel Ardila
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="p">
    <br>
    {{#str}}lastupdate, tool_tutor_follow{{/str}}:
    <b class="text-primary font-weight-bold">{{{lastejecution}}}</b>
</div>

<table class="container mt-3" border="2">
    <tr class="text-center">
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}name, tool_tutor_follow{{/str}}
        </td>
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}idnumber, tool_tutor_follow{{/str}}
        </td>
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}email, tool_tutor_follow{{/str}}
        </td>
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}modules, tool_tutor_follow{{/str}}
        </td>
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}lastconnection, tool_tutor_follow{{/str}}
        </td>
        <td class="text-white bg-primary font-weight-bold">
            {{#str}}students, tool_tutor_follow{{/str}}
        </td>
    </tr>
    {{#users}}
        <tr>
            <td class="text-primary font-weight-bold">
                <a href="{{{perfil_url}}}" target="_blank">
                    <img src="{{{picture}}}" alt="" class="rounded-circle text-left m-1" width="45">
                    <label>{{firstname}} {{lastname}}</label>
                </a>
            </td>
            <td class="text-center">{{idnumber}}</td>
            <td class="text-center">{{email}}</td>
            <td class="text-center">{{numcursos}}</td>
            <td>{{lastacces_text}}</td>
            <td>
                <div class="btn btn-secondary more-info" id="{{id}}" idnumber="{{idnumber}}">
                    {{#str}}studentsdistribution, tool_tutor_follow{{/str}}
                </div>
            </td>
        </tr>
    {{/users}}
</table>