<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group d-flex justify-content-center" role="group" aria-label="Menu buttons">
                <a href="{{button1url}}" class="{{{1classes}}}">{{button1text}}</a>
                <a href="{{button2url}}" class="{{{2classes}}}">{{button2text}}</a>
                <a href="{{button3url}}" class="{{{3classes}}}">{{button3text}}</a>
                <a href="{{button4url}}" class="{{{4classes}}}">{{button4text}}</a>
            </div>
        </div>
    </div>
</div>
